lightgreen: rgb(16, 204, 163);
darkgreen: rgb(16, 204, 163);
lightyellow:  #ffff99;
yellow: #ffff66;

body.landing {
     background-color: rgb(16, 204, 163);
     color: #0da584;/*sets the background color to an RGB value (see below) */
}
.hero-content {
     position: relative; /* positioning will be explained in a resource */
     min-height: 750px;  /* hero content element must be _at least_ 600 pixels */
     background-image: url(../assets/music.png);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }

.hero-content .hero-title {
     position: absolute;             /* positioning will be explained in a resource */
     margin-top: 100px;      
     top: 10%;/* positioning will be explained in a resource */
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;                    /* makes sure the title inhabits the full width of its container */
     text-align: center;             /* aligns text in the horizontal center of the element */
     font-size: 8rem;                /* specifies the size of the font in root em units */
     font-weight: 1000;               /* makes the font thinner or lighter weight */
     /*text-transform: uppercase;      /* transforms the text to be all uppercase lettering */
     letter-spacing: 0.5rem;         /* puts 0.5 root ems worth of space between each letter */
     text-shadow: 1px 1px 0px black; /* creates a shadow underneath the text for readability over the image */
     color: rgb(16, 204, 163);
     font-family: 'Tangerine', cursive;
 }

/*
 .collection-album-container {
     position: relative;
     margin-top: 30px;
     margin-bottom: 20px;
     text-align: center;
     height: 550px;
     box-sizing: border-box;
 }
.collection-album-container img {
    max-width: 80%;
    max-height: 450px;
 }
*/

.caption{
    background-color: #f0f0f5;
    margin: 0px 10%;
    margin-top: -50px;
/*    margin-bottom: 30px;*/
    padding: 1px;
    padding-top: 30px;
}

.main-quote {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 2em;
}

.about {
    background-color: white;
    min-height: 600px;
}

.head-shot {
    position: relative;
    width: 50%;
    min-height: 600px;
/*    float: left;*/
    background-image: url(../assets/images/IMG_4237.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bio-content {
    margin: 10%;
    font-family: 'Shadows Into Light', cursive;
    position: relative;
    text-align: center;    
}
.portfolio-container {    
/*    width: 80%;*/
    margin: auto;
    background: white;
}
.portfolio {
/*    top: -50px;*/
    margin: 0px 50px;
    padding-top: 3px;
    padding-bottom: 30px;
    position: relative;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 2rem;
    background: white;
    color: rgb(58,23,63);
}
.portfolio h1{
    margin-bottom: 0px;
}
.portfolio h2 {
    clear:both;
    margin-bottom: 0px;
    padding-top: 20px;
}

.selling-points-container {
    background-color: #f0f0f5;
    padding-top: 30px;
     min-height: 500px;
     position: relative;
/*     display: table;*/
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box; /* we'll explain this in a resource */
 }

 .container {
     margin: 0 auto;
     max-width: 64rem;
 }

 .container.narrow {
     max-width: 56rem;
 }
/*
.image-block {
    text-align: center;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
    float: none;
}
*/

.selling-points-container h3 {
    background: #fff;
    display: inline-block;
    max-width: 180px;
    margin: 0em auto;
    margin-top: 100px;
    padding: 1.2em 0.3em;
    width: 100%;
    text-transform: uppercase;
}
 
 .point {
    height: 100%;
/*    display: table-cell;*/
/*    position: relative;*/
/*    width: 30.3%;*/
    padding-top: 2rem;
    text-align: center;
/*    vertical-align: middle;*/
/*    margin-left: 2%;*/
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
/*
     vertical-align: middle;
     display: table-cell;
     position: relative;
     width: 33.3%;
     margin-right: 4%;
     padding: 2rem;
     text-align: center;
     opacity: 0;
     -webkit-transform: scaleX(0.9) translateY(3rem);
     -moz-transform: scaleX(0.9) translateY(3rem);
     transform: scaleX(0.9) translateY(3rem);
     -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
     -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
     transition-delay: 0.2s;
*/
 }
 

.reviews{
    color: black;
    background-color: #ffff99;
     position: relative;
    margin: 70px 0px;
/*     display: table;*/
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.review{
    height: 100%;
/*     display: table-cell;*/
     position: relative;
/*     width: 33.3%;*/
     padding: 2rem;
     text-align: center;
    vertical-align: center;
/*    margin: 10px;*/
}
#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
.ion-star {
    font-size: 2rem;
}
.signature{
    font-family: 'Tangerine', cursive;
    font-size: 1.5rem;
}
#contact {
    position: relative;
    top: -50px;
}
.contact{
    width: 100%;
    padding-bottom: 35px;
    color: white;
}
.contact-header {
    padding-top: 30px;
    font-size: 2rem;
    font-family: 'Tangerine', cursive;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}
.contact h2 {
    margin: 10px;
}
.contact p{
    font-family: 'Open Sans';
    font-size: 1rem;
    width: 80%;
    margin: auto;
}
.form {
    width: 100%;
    text-align: center;
}
form label{
    font-size: 2rem;
    font-family: 'Tangerine', cursive;
    width:100%;
    margin: 100px 50px;
}
input[type=text], input[type=email], textarea {
    width: 60%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
/*    box-sizing: border-box;*/
}

input[type=submit] {
    background-color: white;
    color: #0da584;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0da584;
    color: white;
}
